{% extends 'adminn/base.html' %}

{% block content %}
<br><br><br><br><br>
<div class="container">
    <h2 class="text-center mb-4">Confirm Deletion</h2>
    <p>Are you sure you want to delete the following nurse?</p>
    <p><strong>Name:</strong> {{ staff.fullname }}</p>
    <p><strong>SSN:</strong> {{ staff.staffssn }}</p>
    <p><strong>Department ID:</strong> {{ staff.departmentid }}</p>
    <!-- Confirmation Form -->
    <form method="POST">
        {% csrf_token %}
        <p class="lead">
        <button type="submit" class="btn btn-danger btn-lg">Delete Nurse</button>
        <a href="{% url 'admin-nurse' %}" class="btn btn-secondary btn-lg">Cancel</a>
        </p>
    </form>
</div>
{% endblock %}