{% extends 'nurse/base.html' %}

{% block content %}
<br><br><br><br><br>
<div class="container">
    <h2 class="text-center mb-4">Confirm Deletion</h2>
    <p>Are you sure you want to delete the following Record?</p>
    <p><strong>Record ID:</strong> {{ medical_record.recordid }}</p>
    <p><strong>Treatment ID:</strong> {{ treatment.treatmentid }}</p>
    <p><strong>Diagnosis:</strong> {{ medical_record.diagnosis }}</p>
    <p><strong>Result:</strong> {{ medical_record.testresult }}</p>
    <p><strong>Procedure:</strong> {{ treatment.treatmentprocedure }}</p>


    <!-- Confirmation Form -->
    <form method="POST">
        {% csrf_token %}
        <p class="lead">
        <button type="submit" class="btn btn-danger btn-lg">Delete Record</button>
        <a href="{% url 'nurse-medical-record' %}" class="btn btn-secondary btn-lg">Cancel</a>
        </p>
    </form>
</div>
{% endblock %}